.modal_nav {
  background-color: var(--inputActive);

  button {
    cursor: pointer;
    width: 25%;
    height: 30px;
    margin: 3% 0 0 0;
    align-self: center;
    border-radius: 50px;
    border: none;
    font-family: var(--fontText);
    font-size: 13px;
    background-color: #f8dad2;
    color: var(--darkRed);
    box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.65);
    transition: background-position 0.4s ease-in-out;

    &:hover {
      color: var(--input);
      background-color: #e6a495;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  h4 {
    font-family: var(--fontHeader);
    font-weight: 400;
    font-size: 30px;
  }
}

.publish_ok,
.publish_notsook {
  span {
    justify-content: space-evenly !important;
  }
}

.publish_notsook {
  #newDate-input {
    all: unset;
    border-bottom: dotted gray 1px;
    text-align: center;
    margin: 10px 0 3px 0;
    width: 150px;
  }

  .closest {
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      text-align: center;
      font-size: 12px;
      color: var(--darkRed);
    }

    button {
      all: unset;
      text-align: center;
      font-style: italic;
      font-weight: 500;
      cursor: pointer;
    }
    button:hover {
      font-weight: 600;
    }
  }
}

.modal_load {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    font-family: var(--fontHeader);
    font-weight: 400;
    font-size: 30px;
    margin: 20px 0;
  }

  button {
    position: relative;
    top: -525px;
    left: 434px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    border-radius: 50px;
    border: 1px solid #e6a49566;
    font-family: var(--fontText);
    font-size: 13px;
    background-color: #f8dad2;
    color: var(--darkRed);
    box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.65);
    transition: background-position 0.4s ease-in-out;

    &:hover {
      color: var(--input);
      background-color: #e6a495;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  .load_inner {
    margin: 0;
    width: 90%;
    display: flex;
    height: 450px;
    flex-direction: row;

    div {
      margin: 0;
      height: 100%;
    }

    & > div:first-child {
      width: 20%;

      border: 1px solid salmon;
    }
    & > div:last-child {
      width: 80%;
      border: 1px solid blueviolet;
      overflow-y: scroll;

      button {
        position: inherit;
        background-color: var(--input);
        width: 100%;
        height: 30px;
        text-align: left;
        font-size: large;
        border: none;
        box-shadow: none;
        color: black;
      }
      button:hover {
        color: var(--darkRed);
      }
    }

    .load_finished-true,
    .load_finished-false {
      all: unset;
    }
  }
}
