.tiptap {
  border: dotted 1px rgba(0, 0, 0, 0);
  border-radius: 2px;

  p {
    text-align: justify;
    margin: 0;
    font-size: 1.4vw;
    font-weight: 300;
    line-height: 1.4;
  }

  .is-editor-empty:first-child::before {
    color: rgba(165, 42, 42, 0.5);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.tiptap:active,
.tiptap:focus {
  border: dotted 1px rgba(128, 128, 128, 0.5);
}

[contenteditable] {
  outline: 0px solid transparent;
}

.article_textImg .tiptap {
  min-height: 40px;
}

.undoRedo {
  position: relative;
  z-index: 10;
  height: 0px;
  left: 940px;
  top: -7px;

  * {
    display: block;
    all: unset;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;

    background-color: #f6f2f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  *:first-child {
    background-image: url("/editor/undo.png");
  }

  *:nth-child(2) {
    background-image: url("/editor/redo.png");
  }

  *:hover {
    background-color: #ded5d2;
  }

  &.URtxt_img.UR-right {
    left: 790px;
    top: -7px;
  }

  &.URtxt_img.UR-left {
    left: 769px;
    top: -7px;
  }

  &.URfocused {
    opacity: 0;
  }
}

.bubble-menu {
  display: flex;
  background-color: var(--inputActive);
  border: 1px dotted var(--darkRed);
  height: 25px;
  padding: 0.2rem;
  border-radius: 5px;

  button {
    border: none;
    background: none;
    color: #fff;

    opacity: 0.85;

    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    margin-top: 2.5px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover,
    &.is-active {
      opacity: 1;
      cursor: pointer;
    }
  }

  button:first-child {
    margin-left: 4px;
    background-image: url("/editor/bubble/1.png");
  }
  button:nth-child(2) {
    background-image: url("/editor/bubble/2.png");
  }
  button:nth-child(3) {
    margin-right: 12px;
    background-image: url("/editor/bubble/3.png");
  }
  button:nth-child(4) {
    margin-right: 12px;
    background-image: url("/editor/bubble/4.png");
  }
  button:nth-child(5) {
    margin-right: 4px;
    background-image: url("/editor/bubble/5.png");
  }
}
