.loginPolaroid {
  height: calc(100vh - 20.125vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .frame {
    display: block;
    width: calc((100vh - 20.125vw) * 0.85);
    height: 85%;
    background-color: #fff;
    border: rgb(230, 230, 230) 1px solid;
    box-shadow: 1px 1px 5px #bfbfbfbf;
    text-decoration: none;
    color: #000;
    border-radius: 2px;
    padding-bottom: 0;
    transition: all 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tape {
      width: 0px;
      height: 0px;
      position: relative;
      top: 0;
      left: 20px;

      &::after {
        display: block;
        height: calc((100vh - 20.125vw) / 100 * 5);
        width: calc((100vh - 20.125vw) / 100 * 16);
        opacity: 0.85;
        content: "";

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &:nth-child(2) {
        transform: translateY(calc((100vh - 20.125vw) / -1.12))
          translateX(calc((100vh - 20.125vw) / 3.2)) rotate(45deg);

        &::after {
          background-image: url("/login/1.png");
        }
      }

      &:nth-child(3) {
        transform: translateY(calc((100vh - 20.125vw) / -9))
          translateX(calc((100vh - 20.125vw) / -2.05)) rotate(45deg);

        &::after {
          background-image: url("/login/2.png");
        }
      }
    }

    form {
      margin: 10% 0 0 0;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      /**/

      .inputs {
        margin: 0% 0 10% 0;

        .label {
          font-size: 20px;
          opacity: 0.95;
          transform: translateX(3px);
          font-family: var(--fontHeader);
        }

        input {
          background-color: var(--input);
          border: none;
          border-radius: 10px;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          color: #333;
          font-size: 18px;
          padding-left: 10px;
          width: 97%;
          height: 50px;
          font-family: var(--fontText);
          font-weight: 400;

          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          transition: background-color 0.3s ease-in-out;

          &:focus,
          &:-webkit-autofill:focus {
            background-color: var(--inputActive);
          }
        }
      }

      button {
        cursor: pointer;
        width: 50%;
        height: 40px;
        margin: 3% 0 0 0;
        align-self: center;
        border-radius: 50px;
        border: none;
        font-family: var(--fontText);

        background-size: 300% 100%;
        background-image: linear-gradient(
          to right,
          #fdfcfa,
          #e2b7ad,
          rgb(226, 183, 173),
          #fdfcfa
        );
        box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.65);
        transition: background-position 0.4s ease-in-out;

        &:hover {
          background-position: 100% 0;
        }

        &.buttonError {
          animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
      }
    }
    .errorMessage {
      margin-top: 2%;
      text-align: center;
      font-size: 10px;
      font-style: italic;
      font-weight: 500;
      color: var(--darkRed);
    }
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
