.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
}

.modal-cancel-btn {
  position: fixed;
  top: 0;
  right: 0;
}

.modal_inner {
  background-color: var(--input);
  margin: auto;
  box-shadow: 1px 1px 5px #333333bf;
  border-radius: 2px;

  & > div {
    margin: 5% 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
      margin: 15px;
    }

    span {
      width: 100%;
      height: 30px;
      display: flex;

      justify-content: center;

      label {
        width: 15%;
        font-size: 20px;
      }

      input {
        width: 85%;
        font-size: 20px;
      }
    }
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}

.done {
  font-size: 14px;
}

.clear {
  all: unset;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.alert {
  width: 0;
  height: 0;

  transform: translateX(10px);

  div {
    height: 30px;
    width: 10px;
    font-size: 20px;
    opacity: 0.8;
  }
}

.alert_false {
  opacity: 0;
}

.alert_true {
  opacity: 1;
}
