.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
}

.modal_inner {
  background-color: var(--input);
  margin: auto;
  box-shadow: 1px 1px 5px #333333bf;
  border-radius: 2px;

  & > div {
    margin: 5% 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
      margin: 15px;
    }

    span {
      width: 100%;
      height: 30px;
      display: flex;

      justify-content: center;

      label {
        width: 15%;
        font-size: 20px;
      }

      input {
        width: 85%;
        font-size: 20px;
      }
    }
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}

/*------------------------   modal_type    --------------------------------------*/
.modal_txtImg,
.modal_img,
.modal_link,
.modal_yt,
.modal_nav {
  width: 500px;

  .switchSpan {
    & > p {
      font-size: 14px;
    }

    & > div {
      width: 150px;
    }
  }
}

.modal_txtImg,
.modal_img {
  .switchSpan {
    & > button {
      all: unset;
      cursor: pointer;
      width: 70px;
      &:hover {
        color: var(--darkRed);
      }
    }

    & > div {
      margin: 0 25px;
      background-color: var(--input);
      border: 1px solid #c04b4030;
      border-radius: 2px;

      & > input {
        all: unset;
        margin: 3px;
        width: 30px;
        height: 15px;
        background-color: #c04b40e1;
        transition: all 0.4s;
        border-radius: 2px;
      }

      & > input.right {
        transform: translateX(114px);
      }
    }
  }
}

#input_url_ID {
  font-size: 10px;
  color: var(--darkRed);
  position: absolute;
  margin: 0;
  transform: translateX(450px);
  transform: translateY(-34px);
}

#start_input {
  width: 75%;
}

#input_timer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: var(--darkRed);
  }
}

.modal_grid {
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .grid_preset {
    flex-direction: row;
    margin: 0px 40px 10px 40px;
    height: 60px;
    width: 820px;
    justify-content: space-between;

    button {
      all: unset;
      width: 90px;
      height: 60px;
      border: 1px solid rgb(205, 205, 205);

      cursor: pointer;

      background-position: center;
      background-size: contain;
    }

    button:hover {
      box-shadow: 1px 1px 5px #bfbfbfbf;
    }

    .grid_preset_button0 {
      background-image: url(/public/editor/grid/1.png);
    }
    .grid_preset_button1 {
      background-image: url(/public/editor/grid/2.png);
    }
    .grid_preset_button2 {
      background-image: url(/public/editor/grid/3.png);
    }
    .grid_preset_button3 {
      background-image: url(/public/editor/grid/4.png);
    }
    .grid_preset_button4 {
      background-image: url(/public/editor/grid/5.png);
    }
    .grid_preset_button5 {
      background-image: url(/public/editor/grid/6.png);
    }
  }
  .modal_grid_main {
    margin: 10px 40px 20px 40px;
    width: 820px;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      height: 100%;

      margin: 0;
    }

    & > div:first-child {
      width: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & > .items {
      width: 67%;
      margin-top: 40px;

      .grid_inputs_line {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        & > * {
          display: flex;
          width: 100%;
        }
        & > div:first-child {
          margin-bottom: 3px;
          .grid_inputs_square {
            margin: 0 7px;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            font-weight: 500;
            font-style: italic;
          }

          hr {
            height: 1px;
            border: 0;
          }

          .hr1 {
            width: 20px;
            background-image: linear-gradient(
              to left,

              rgba(0, 0, 0, 0.75),
              rgba(0, 0, 0, 0.75),
              rgba(0, 0, 0, 0)
            );
          }
          .hr2 {
            width: 100%;
            background-image: linear-gradient(
              to right,

              rgba(0, 0, 0, 0.75),
              rgba(0, 0, 0, 0.75),
              rgba(0, 0, 0, 0)
            );
          }
        }
        & > div:nth-child(2) {
          & > * {
            width: 50%;
            display: flex;
            & > input {
              display: block;
              margin: 0 0 0 10px;
              width: 190px;
            }
            .alert > div {
              font-size: 14px;
              height: px;
            }
          }
        }
      }
    }

    #squares {
      margin-top: 20px;
      width: 100%;
      height: 100%;

      .row {
        width: 100%;
        height: calc(220px / 6);

        display: flex;

        .square {
          width: calc(220px / 6);
          height: calc(220px / 6);
          border: 1px black solid;
          user-select: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

/*------------------------   done    --------------------------------------*/

.done {
  font-size: 12px;

  cursor: pointer;
  width: 90px;
  height: 30px;
  margin: 3% 0 0 0;
  align-self: center;
  border-radius: 5px;
  border: none;
  font-style: italic;
  font-family: var(--fontText);

  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #fdfcfa,
    #e2b7ad,
    rgb(226, 183, 173),
    #fdfcfa
  );
  box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.65);
  transition: background-position 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    color: var(--darkRed);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.807);
  }

  &.buttonError {
    animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

/*------------------------   clear    --------------------------------------*/

.clear {
  all: unset;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  position: absolute;

  & > div {
    cursor: pointer;
    width: 90%;
    height: 90%;
    background-image: url("/editor/clear.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
  }
  & > div:hover {
    transform-origin: center;
    transform: rotate(-45deg);
  }
}

.clear_txtImg {
  left: calc(50% + 232px);
  top: calc(50% - 140px);
}

.clear_img,
.clear_link {
  left: calc(50% + 232px);
  top: calc(50% - 111px);
}

.clear_grid {
  left: calc(50% + 433px);
  top: calc(50% - 257px);
}

/*------------------------   alert    --------------------------------------*/

.alert {
  width: 0;
  height: 0;

  transform: translateX(10px);

  div {
    height: 30px;
    width: 10px;
    font-size: 20px;
    opacity: 0.8;
  }
}

.alert_false {
  opacity: 0;
}

.alert_true {
  opacity: 1;
}
