.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
}

.modal-cancel-btn {
  position: fixed;
  top: 0;
  right: 0;
}

.modal_inner {
  background-color: var(--input);
  margin: auto;
  box-shadow: 1px 1px 5px #333333bf;
  border-radius: 2px;

  & > div {
    margin: 5% 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
      margin: 15px;
    }

    span {
      width: 100%;
      height: 30px;
      display: flex;

      justify-content: center;

      label {
        width: 15%;
        font-size: 20px;
      }

      input {
        width: 85%;
        font-size: 20px;
      }
    }
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}

.done {
  font-size: 12px;

  cursor: pointer;
  width: 90px;
  height: 30px;
  margin: 3% 0 0 0;
  align-self: center;
  border-radius: 5px;
  border: none;
  font-style: italic;
  font-family: var(--fontText);

  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #fdfcfa,
    #e2b7ad,
    rgb(226, 183, 173),
    #fdfcfa
  );
  box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.65);
  transition: background-position 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    color: var(--darkRed);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 7.5px 0 rgba(226, 183, 173, 0.807);
  }

  &.buttonError {
    animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

.clear {
  all: unset;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.alert {
  width: 0;
  height: 0;

  transform: translateX(10px);

  div {
    height: 30px;
    width: 10px;
    font-size: 20px;
    opacity: 0.8;
  }
}

.alert_false {
  opacity: 0;
}

.alert_true {
  opacity: 1;
}
