.header {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  flex-direction: column;
  justify-content: center;
}

.day {
  left: calc((100vw - 1000px) / 4);
  position: absolute;
  top: 18.5vw;
  background-image: url("index/day.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  right: 85vw;
  transform: rotate(-3deg);

  p {
    width: 100%;
    height: 35px;
    margin-top: 75px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
}
